{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Alimenta Ação</title>
      <!-- favicon -->
      <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
      <!-- custom css link -->
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsivo.css' %}">
      <link rel="stylesheet" href="{% static 'css/modifica.css' %}">
      <!-- google font link -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
      <link
         href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
         rel="stylesheet">
      <!-- Link para a biblioteca de ícones Font Awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   </head>
   <body>
      <!-- HEADER -->
      <br><br><br><br>
      <header class="header" data-header>
         <div class="container">
            <h1>
               <a href="{% url 'core:index' %}" class="logo">Alimenta Ação</a>
            </h1>
            <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
               <ion-icon name="menu-outline"></ion-icon>
            </button>
            <nav class="navbar" data-navbar>
               <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
                  <ion-icon name="close-outline"></ion-icon>
               </button>
               <a href="{% url 'core:index' %}" class="logo">Alimenta Ação</a>
               <ul class="navbar-list">
                  <li>
                     <a href="{% url 'core:index' %}" class="navbar-link" data-nav-link>
                        <span>Menu</span>
                        <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                     </a>
                  </li>
                  <li>
                  <li>
                     <a href="{% url 'core:index' %}" class="navbar-link" data-nav-link id="link-sobre">
                        <span>Sobre</span>
                        <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                     </a>
                  </li>
                  </li>
                  <li>
                     <a href="{% url 'core:index' %}" class="navbar-link" data-nav-link id="link-servicos">
                        <span>Serviços</span>
                        <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                     </a>
                  </li>
                  <li class="navbar-item has-submenu" data-nav-item>
                     <a href="{% url 'core:index' %}" class="navbar-link" data-nav-link>Páginas<i class="bi bi-caret-down-fill"></i></a>
                     <ul class="submenu">
                        <li class="dropdown-item"><a href="{% url 'core:index' %}" id="link-doar">Doar</a></li>
                        <li class="dropdown-item"><a href="{% url 'core:nossotime' %}">Nosso time</a></li>
                        <li class="dropdown-item"><a href="{% url 'core:index' %}" id="link-depoimentos">Depoimentos</a></li>
                        <li class="dropdown-item"><a href="{% url 'core:avaliacao' %}">Nos Avalie</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="{% url 'core:contato' %}" class="navbar-link" data-nav-link>
                        <span>Entre em contato</span>
                        <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                     </a>
                  </li>
                  <li>
                     <a href="{% url 'core:index' %}" class="navbar-link" data-nav-link>
                        <span>Sair: {{ nome_ong }}</span>
                        <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                     </a>
                  </li>
               </ul>
            </nav>
            <div class="header-action">
               <button id="doarBtn" class="btn btn-primary">
                  <span>Doe agora!</span>
                  <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
               </button>
            </div>
         </div>
      </header>
      <!-- #DONATE -->
      <section class="section donate" id="doacoes">
         <div class="container">
            <ul class="donate-list">
                     {% for campanha in campanhas %}
                        <li>
                           <div class="donate-card">
                              <figure class="card-banner">
                                 <img src="{% static 'img/ong-1.jpg' %}" width="520" height="325" loading="lazy" alt=""
                                    class="img-cover">
                              </figure>
                              <div class="card-content">
                                 <div class="progress-wrapper">
                                    <p class="progress-text">
                                       <span>Arrecadados</span>
                                       <data value="4650">R$4.650,00</data>
                                    </p>
                                    <data class="progress-value" value="93">93%</data>
                                 </div>
                                 <div class="progress-box">
                                    <div class="progress"></div>
                                 </div>
                                 <h3 class="h3 card-title">{{ campanha.titulo }}</h3>
                                 <div class="card-wrapper">
                                    <p class="card-wrapper-text">
                                       <span>Meta</span>
                                       <data class="green" value="34562">R$ {{ campanha.meta }}</data>
                                    </p>
                                 </div>
                                 <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-secondary" name="editar">
                                       <span>Editar</span>
                                    </button>
                                    <br>
                                    <button class="btn btn-secondary" name="deletar">
                                       <span>Excluir</span>
                                    </button>
                                 </form>
                              </div>
                           </div>
                        </li>
                     {% endfor %}
            </ul>
         </div>
      </section>

      <!-- #FOOTER -->
      <footer class="footer" style="background-image: url('{% static 'img/footer-bg.jpg' %}')">
         <div class="footer-top section">
            <div class="container">
               <div class="footer-brand">
                  <a href="#" class="logo">ALIMENTA AÇÃO</a>
                  <p class="footer-text">
                     Se você tiver alguma dúvida, entre em contato conosco em <a href="mailto:support@gmail.com"
                        class="link">alimentaacao.supote@gmail.com</a>
                  </p>
                  <ul class="contact-list">
                     <li class="contact-item">
                        <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
                        <address class="address">
                           Jardim Jose Ometto II, Araras - SP, 13606-360
                        </address>
                     </li>
                     <li class="contact-item">
                        <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
                        <a href="tel:+16234567891011" class="contact-link">+55 (19) 3571-1508</a>
                     </li>
                     <li class="contact-item">
                        <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
                        <a href="tel:+16234567891011" class="contact-link">+55 (19) 97178-3752</a>
                     </li>
                  </ul>
                  <ul class="social-list">
                     <li>
                        <a href="#" class="social-link">
                           <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="social-link">
                           <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="social-link">
                           <ion-icon name="logo-pinterest"></ion-icon>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="social-link">
                           <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                     </li>
                  </ul>
               </div>
               <ul class="footer-list">
                  <li>
                     <p class="footer-list-title">Corporação</p>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Careers</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">About Us</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Contact Us</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">FAQs</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Vendors</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Affiliate Program</a>
                  </li>
               </ul>
               <ul class="footer-list">
                  <li>
                     <p class="footer-list-title">Serviços</p>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Careers</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">About Us</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Contact Us</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">FAQs</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Vendors</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Affiliate Program</a>
                  </li>
               </ul>
               <ul class="footer-list">
                  <li>
                     <p class="footer-list-title">Infomações</p>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Careers</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">About Us</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Contact Us</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">FAQs</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Vendors</a>
                  </li>
                  <li>
                     <a href="#" class="footer-link">Affiliate Program</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <p class="copyright">
                  &copy; 2024 Direitos autorais reservados por <a href="#" class="copyright-link">Alimenta Ação.</a>
               </p>
               <img src="{% static 'img/cartoes.png' %}" width="397" height="32" loading="lazy" alt="payment method" class="img">
            </div>
         </div>
      </footer>
      <!-- #BACK TO TOP -->
      <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
         <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
      </a>
      <!-- custom js link -->
      <script src="{% static 'js/index.js' %}"></script>
      <!-- ionicon link -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   </body>
</html>