{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Pagamento</title>
    <link rel="stylesheet" href="{% static 'css/validacao.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        <h2>Formulário de Pagamento</h2>
        <!--Detalhes do Pagamento Início-->
        <div class="input_group">
            <div class="input_box">
                <h4>Detalhes do Pagamento</h4>
                <input type="radio" name="pay" class="radio" id="bc1" checked>
                <label for="bc1"><span>
                    <i class="fa fa-cc-visa"></i>Cartão de Crédito</span>
                </label>
                <input type="radio" name="pay" class="radio" id="bc2">
                <label for="bc2"><span>
                    <i class="fa fa-cc-visa"></i>Cartão de Débito</span>
                </label>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="input_box">
                <input type="text" placeholder="Nome no Cartão" name="Nome_Cartao" required class="name">
                <i class="fa fa-user icon"></i>
            </div>
            <div class="input_group">
                <div class="input_box">
                    <input type="tel" name="Num_Cartao" class="name" placeholder="Número do Cartão 1111-2222-3333-4444" required>
                    <i class="fa fa-credit-card icon"></i>
                </div>
            </div>
            <div class="input_group">
                <div class="input_box">
                    <input type="tel" name="CVV" class="name" placeholder="CVV do Cartão" required>
                    <i class="fa fa-user icon"></i>
                </div>
            </div>
            <div class="input_group">
                <div class="input_box">
                    <div class="input_box">
                        <input type="number" name="Mes_Cartao" placeholder="Mês de Expiração" required class="name">
                        <i class="fa fa-calendar icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="input_box">
                    <input type="number" name="Ano_Cartao" placeholder="Ano de Expiração" required class="name">
                    <i class="fa fa-calendar-o icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input_box">
                <input type="text" name="Valor" placeholder="Digite o Valor" required class="name" value="{{ valor }}">
                <i class="fa fa-money icon" aria-hidden="true"></i>
            </div>
            <!--Detalhes do Pagamento Fim-->

            <div class="input_group">
                <div class="input_box">
                    <button type="submit" name="validar">PAGAR AGORA</button>
                </div>
            </div>
            <div class="input_group">
                <div class="input_box">
                    <button type="reset" style="background-color: red;" name="cancelar">CANCELAR PAGAMENTO</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
