<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h2>Login da ONG</h2>
    <form method="post">
      {% csrf_token %}
      
      {% for campo in form %}
        <label for="{{ campo.name }}">{{ campo.label }}</label><br>
        {{ campo }}<br><br>
      {% endfor %}
      
      <input type="submit" value="Login">
    </form>
</body>
</html>