{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Nosso time</title>
      <!-- custom css link -->
      <link rel="stylesheet" href="{% static 'css/nossotime.css' %}">
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />
   </head>
   <body>
        <!-- #NOSSO TIME -->
        <div id="page" class="site">
            <div class="container2">
                <div class="testi">
                    <div class="head">
                        <h3>Nosso time.</h3>
                        <p>Veja o que estamos falando...</p>
                    </div>
                    <div class="body swiper">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <div class="wrapper">
                                    <div class="thumbnail">
                                        <img src="{% static 'img/testemunha-01.jfif' %}" alt="">
                                    </div>
                                    <div class="aside">
                                        <p> Nosso propósito é fornecer suporte vital e recursos essenciais para comunidades em necessidade, promovendo a igualdade de oportunidades e o 
                                            bem-estar para todos. Buscamos aliviar o sofrimento, fortalecer laços comunitários e inspirar a mudança positiva por meio de iniciativas de 
                                            caridade eficazes e sustentáveis.
                                        </p>
                                        <div class="name">
                                            <h4>Wesley Kilian</h4>
                                            <p>Front-End</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="wrapper">
                                    <div class="thumbnail">
                                        <img src="{% static 'img/testemunha-02.jpg' %}" alt="">
                                    </div>
                                    <div class="aside">
                                        <p> Nosso propósito é fornecer suporte vital e recursos essenciais para comunidades em necessidade, promovendo a igualdade de oportunidades e o 
                                            bem-estar para todos. Buscamos aliviar o sofrimento, fortalecer laços comunitários e inspirar a mudança positiva por meio de iniciativas de 
                                            caridade eficazes e sustentáveis.
                                        </p>
                                        <div class="name">
                                            <h4>Willian Fonseca</h4>
                                            <p>back-End</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="wrapper">
                                    <div class="thumbnail">
                                        <img src="{% static 'img/testemunha-04.avif' %}" alt="">
                                    </div>
                                    <div class="aside">
                                        <p> Nosso propósito é fornecer suporte vital e recursos essenciais para comunidades em necessidade, promovendo a igualdade de oportunidades e o 
                                            bem-estar para todos. Buscamos aliviar o sofrimento, fortalecer laços comunitários e inspirar a mudança positiva por meio de iniciativas de 
                                            caridade eficazes e sustentáveis.
                                        </p>
                                        <div class="name">
                                            <h4>Thiago</h4>
                                            <p>Administrador de Banco de Dados</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="wrapper">
                                    <div class="thumbnail">
                                        <img src="{% static 'img/testemunha-03.avif' %}" alt="">
                                    </div>
                                    <div class="aside">
                                        <p> Nosso propósito é fornecer suporte vital e recursos essenciais para comunidades em necessidade, promovendo a igualdade de oportunidades e o 
                                            bem-estar para todos. Buscamos aliviar o sofrimento, fortalecer laços comunitários e inspirar a mudança positiva por meio de iniciativas de 
                                            caridade eficazes e sustentáveis.
                                        </p>
                                        <div class="name">
                                            <h4>Vitor Eduardo</h4>
                                            <p>Back-End</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="wrapper">
                                    <div class="thumbnail">
                                        <img src="{% static 'img/testemunha-02.jpg' %}" alt="">
                                    </div>
                                    <div class="aside">
                                        <p> Nosso propósito é fornecer suporte vital e recursos essenciais para comunidades em necessidade, promovendo a igualdade de oportunidades e o 
                                            bem-estar para todos. Buscamos aliviar o sofrimento, fortalecer laços comunitários e inspirar a mudança positiva por meio de iniciativas de 
                                            caridade eficazes e sustentáveis.
                                        </p>
                                        <div class="name">
                                            <h4>Miran</h4>
                                            <p>Scrum-Master</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/swiper@6/swiper-bundle.min.js"></script>
        <script>
            const swiper = new Swiper('.swiper', {
                autoHeight: true,
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        </script>
   </body>
</html>
