@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root {
    --primary-color: #FC8500;
    --white-color: #ffffff;
    --light-color: #ced6e0;
    --dark-color: #2f3542;
    --box-shadow: rgb(0 0 2 / 35%) 0px 20px 30px -10px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button,
div[role="button"] {
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    line-height: normal;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
}

/*-----------------------------------*\
#NOSSO TIME
\*-----------------------------------*/

.site {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    max-width: 1100px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.testi {
    max-width: 900px;
    margin: 0 auto;
}

.testi .head {
    text-align: center;
    margin-bottom: 60px;
}

.testi .head h3 {
    font-size: 34px;
    font-weight: 800;
}

.testi .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
}

.testi .thumbnail {
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}

.testi .thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testi .thumbnail::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: var(--primary-color);
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
    z-index: -1;
    box-shadow: var(--box-shadow);
}

.testi .aside{
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.testi .aside > p{
    position: relative;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 30px;
}

.testi .aside > p::before,
.testi .aside > p::after{
    font-family: serif;
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    color: var(--light-color);
    height: 40px;
    z-index: -1;
}

.testi .aside > p::before{
    content: open-quote;
    top: -40px;
    left: 10px;
}

.testi .aside > p::after{
    content: close-quote;
    right: 0;
}

.testi .aside .name{
    position: relative;
    width: fit-content;
    line-height: 1;
}

.testi .aside .name h4{
    font-size: 22px;
    font-weight: 800;
    color: var(--primary-color);
    opacity: .8;
}

.testi .aside .name p{
    font-size: 14px;
    text-align: right;
}

/*slider*/
.testi :is(.swiper-button-next, .swiper-button-prev) {
    background-color: var(--light-color);
    top: 35%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: background-color .3s;
    box-shadow: var(--box-shadow);
}

.testi :is(.swiper-button-next, .swiper-button-prev):hover{
    background-color: var(--primary-color);
}

.testi :is(.swiper-button-next, .swiper-button-prev)::after {
    font-size: 16px;
    font-weight: 800;
    color: var(--white-color);
}


@media screen and (min-width: 768px) {
    .testi .wrapper {
        flex-direction: row;
        padding: 30px 100px;
    }

    .testi .thumbnail {
        width: 200px;
        height: 200px;
    }
    .testi :is(.swiper-button-next, .swiper-button-prev) {
        top: 50%;
    }
}
