/*-----------------------------------*\
#CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /**
  * colors
  */
  --bright-yellow-crayola: hsl(40, 100%, 50%);
  --medium-turquoise: hsl(172, 48%, 59%);
  --silver-chalice: hsl(0, 0%, 70%);
  --eerie-black-1: hsl(0, 0%, 13%);
  --eerie-black-2: hsl(0, 0%, 15%);
  --eerie-black-3: hsl(228, 10%, 10%);
  --raisin-black: hsl(228, 6%, 17%);
  --granite-gray: hsl(0, 0%, 38%);
  --sonic-silver: hsl(0, 0%, 47%);
  --pistachio_50: hsla(86, 45%, 54%, 0.5);
  --baby-powder: hsl(86, 41%, 97%);
  --light-gray: hsl(0, 0%, 80%);
  --pistachio:   #FC8500;
  --platinum: hsl(0, 0%, 91%);
  --cultured: hsl(0, 0%, 94%);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 18%);
  --portland-orange:  #FC8500;
  /**
  * typography
  */
  --ff-oswald: 'Oswald', sans-serif;
  --ff-inter: 'Inter', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;
  --fs-1: 13rem;
  --fs-2: 4rem;
  --fs-3: 3.5rem;
  --fs-4: 3rem;
  --fs-5: 2.4rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  /**
  * spacing
  */
  --section-padding: 80px;
  /**
  * shadow
  */
  --card-shadow: 0 5px 20px -8px hsla(0, 0%, 0%, 0.15);
  /**
  * transition
  */
  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  /*-----------------------------------*\
  #RESET
  \*-----------------------------------*/
  *,
  *::before,
  *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  li { list-style: none; }
  a {
  text-decoration: none;
  color: inherit;
  }
  a,
  img,
  span,
  time,
  input,
  strong,
  button,
  ion-icon { display: block; }
  img { height: auto; }
  ion-icon { pointer-events: none; }
  input,
  button {
  background: none;
  border: none;
  font: inherit;
  }
  input { width: 100%; }
  button { cursor: pointer; }
  :focus-visible { outline-offset: 4px; }
  ::selection { background-color: var(--white_10); }
  html {
  font-family: var(--ff-roboto);
  color: var(--granite-gray);
  font-size: 10px;
  scroll-behavior: smooth;
  }
  body {
  background-color: var(--white);
  font-size: 1.6rem;
  line-height: 1.8;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar { width: 13px; }
  ::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
  ::-webkit-scrollbar-thumb { background-color: var(--pistachio); }
  /*-----------------------------------*\
  #REUSED STYLE
  \*-----------------------------------*/
  .container { padding-inline: 15px; }
  .section-subtitle {
  color: var(--color, var(--pistachio));
  font-size: var(--fs, var(--fs-8));
  font-family: var(--ff, var(--ff-roboto));
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 10px;
  }
  .h1,
  .h2 { font-weight: var(--fw-300); }
  .h2,
  .h3 { line-height: 1.6; }
  .h2 {
  font-size: var(--fs-3);
  color: var(--eerie-black-2);
  }
  .h3 {
  font-size: var(--fs-5);
  color: var(--eerie-black-2);
  }
  .h4 {
  color: var(--white);
  font-size: var(--fs-6);
  }
  .btn {
  position: relative;
  background-color: var(--btn-bg, var(--pistachio));
  color: var(--white);
  font-weight: var(--fw-600);
  padding: 12px 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition-2);
  }
  .btn ion-icon {
  --ionicon-stroke-width: 55px;
  font-size: 1.8rem;
  }
  .btn:not(.btn-outline)::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--btn-bg, var(--pistachio));
  transform: translate(5px, 5px);
  transition: var(--transition-2);
  }
  .btn:is(:hover, :focus)::after { transform: translate(0, 0); }
  .btn-secondary { --btn-bg: var(--black); }
  .btn-secondary:is(:hover, :focus) { --btn-bg: var(--pistachio); }
  .btn-outline {
  border: 2px solid var(--white);
  background-color: transparent;
  }
  .btn-white {
  --btn-bg: var(--platinum);
  color: var(--black);
  }
  .section { padding-block: var(--section-padding); }
  .w-100 { width: 100%; }
  .section-text { line-height: 2; }
  .img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  /*-----------------------------------*\
  #HEADER
  \*-----------------------------------*/
  .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 18px;
  z-index: 4;
  }
  .header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 140px);
  height: 1px;
  background-color: var(--white_10);
  }
  .header.active {
  background-color: var(--eerie-black-1);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);
  }
  .header.active::after { display: none; }
  .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  }
  .logo {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: 3.2rem;
  text-transform: uppercase;
  }
  .nav-open-btn {
  color: var(--white);
  font-size: 3.8rem;
  }
  .navbar {
  position: fixed;
  background-color: var(--eerie-black-1);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--white_10);
  display: flex;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
  }
  .navbar.active {
  transform: translateY(-100%);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
  }
  .nav-close-btn {
  color: var(--white);
  font-size: 2.4rem;
  position: absolute;
  top: 15px;
  right: 15px;
  }
  .nav-close-btn ion-icon { --ionicon-stroke-width: 60px; }
  .navbar > .logo {
  font-size: 4rem;
  width: max-content;
  margin-inline: auto;
  margin-block-start: 50px;
  }
  .navbar-list {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding-inline: 10px;
  opacity: 0;
  transition: 0.5s ease;
  transition-delay: 0s;
  }
  .navbar.active .navbar-list {
  opacity: 1;
  transition-delay: 0.25s;
  }
  .navbar-link {
  color: var(--white);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px 15px;
  padding-block: 8px;
  transition: var(--transition-1);
  }
  .navbar-link:is(:hover, :focus) { background-color: var(--pistachio); }

  /* Define estilos para o submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 1px;
  top: 100%;
  left: 0;
  min-width: 160px;
  border-radius: 8px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease; 
}

/* Define estilos para o submenu quando o mouse passa sobre o item de menu */
.navbar-item:hover .submenu {
  display: block;
  opacity: 1; 
  height: auto; 
}

/* Define estilos para os itens do submenu */
.submenu .dropdown-item {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 20px; /* Adiciona preenchimento aos itens do menu para melhorar a usabilidade */
}

/* Define estilos para os itens do submenu quando o mouse passa sobre eles */
.submenu .dropdown-item:hover {
  background-color: #f0f0f0; 
}






@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background:hsl(0, 0%, 13%);
}
.avaliacao{
  position: relative;
  width: 400px;
  background: #FFFFFF;
  padding: 20px 30px;
  border: 1px solid#b8aeae;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.avaliacao .post {
  display: none;
}
.avaliacao .text {
  font-size: 25px;
  color:#FC8500;
  font-weight: 500;
}
.edit {
  background-color: #da1b1b; 
  color: white;
  padding: 10px 20px; 
  border: none; 
  font-size: 14px;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.edit:hover{
  background-color: #ca0808;  
}
button[type="edit2"] {
  background-color: #20b90b; 
  color: white;
  padding: 10px 20px; 
  border: none; 
  font-size: 14px;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
button[type="edit2"]:hover {
  background-color:  #19a706;  
}
.edit,
button[type="edit2"] {
  display: inline-block; /* Define os botões como elementos inline */
  vertical-align: middle; /* Alinha os botões verticalmente */
  margin-right: 10px; /* Espaçamento entre os botões */
}

button[type="edit2"] {
  margin-right: 0; /* Remove o espaçamento à direita do segundo botão */
}

.text {
  margin-bottom: 20px; 
}
.avaliacao .star-widget input {
  display: none;
}
.star-widget label {
  font-size: 40px;
  color:#C0C0C0;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}
input:checked ~ label {
  color: #fd4;
}
input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.avaliacao form {
  display: none;
}
input:checked ~ form {
  display: block;
}
form header {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color:black;
  background:#BFBFBF;
  border: 1px solid ;
  background:#d8d8d8;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus {
  border-color: #444;
}
form .btn2 {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn2 button {
  height: 100%;
  width: 100%;
  border: 1px solid #FC8500;
  outline: none;
  background: #FC8500;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}
form .btn2 button:hover {
  background: #e76a17;
}
